.heading{
    text-align: center;
    border-style: solid;
    background-color: white;
  }

.box {
    background: white;
    border-style: solid;
    width: 50%;
    height: auto;
    margin: auto;
  }

.box2 {
    background: white;
    border-style: solid;
    margin: auto;
}

body {
    background: aqua;
}

.img {
  text-align: left;
  float:left;
}

.img2 {
  text-align: right;
  width: 25px;
  height: 25px;
}

.menu1{ padding:24px; border:#999 1px dashed; }
      .menu1 > a{
        font-family:Arial, Helvetica, sans-serif;
        font-size:17px;
        background: #cccccc;
        padding: 12px 24px;
        color:black;
        margin-right: 10px;
        text-decoration: none;
        border-radius: 3px;
        transition: 0.3s linear 0s, color 0.3s linear 0s;
      }
      .menu1 > a:hover{
        background: #400080;
        color:white;
      }
